/* default light theme.
sorry if it looks convoluted, the variables are to reduce repetition of rules! */
:root {
	--page-bg: white;
	--page-bg-img: url("img/bg-light.png");
	--text-color: black;
	--box-bg: #eee;
	--box-border: #aaa;
	--link-color: #1836a8;
	--link-hover-color: #1646db;

}

@media (prefers-color-scheme: dark) {
	:root {
		--page-bg: #1a1a1a;
		--page-bg-img: url("img/bg-dark.png");
		--text-color: white;
		--box-bg: #333;
		--box-border: #aaa;
		--link-color: #adc1ff;
		--link-hover-color: #dbe4ff;
	}
}

a {
	color: var(--link-color);
	transition-duration: 0.15s;
}

a:hover {
	color: var(--link-hover-color);
}

body {
	font-family: sans-serif;
	color: var(--text-color);
	background: var(--page-bg);
	background-image: var(--page-bg-img)
}

.box {
	max-width: 75%;
	padding: 15px;
	background: var(--box-bg);
	border: 2px solid var(--box-border);
	border-radius: 5px;
	margin: auto;
}
